@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: "Fira Sans", serif; */
* {
	margin: 0;
	padding: 0;
}

.section-title {
	color: #0E0E0E;
	font-weight: bold;
	font-size: 40px;
}

body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Fira Sans", serif;
  background-color: #f1f1f3;
}

header {
  width: 80%;
  margin: 0 auto;
}

nav {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.nav-title {
  color: #0e0e0e;
  font-weight: bold;
  font-size: 30px;
}

.nav-btn {
  color: #006a50;
  padding: 15px 30px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: #006a50 1px solid;
  font-weight: 18px;
  font-weight: 700;
  background-color: transparent;
}

main {
	width: 80%;
	margin: 0 auto;
}

.banner-container  {
	background-color: #C6E4D6;
	border-radius: 24px;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	-ms-border-radius: 24px;
	-o-border-radius: 24px;
	display: flex;
	gap: 80px;
	padding: 100px;
}

.banner-text-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	
}

.banner-sub-title {
	font-size: 24px;
	color: #0e0e0e;
	opacity: .5;
}

.banner-title {
	font-size: 50px;
}

.btn-primary {
	background-color: #006A50;
	border: none;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	padding: 17px 34px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}

.banner {
	margin-bottom: 80px;
}

.foundation-containers {
	display: flex;
	gap: 50px;
	justify-content: space-between;
}

.foundation-item {
	background-color: #fff;
	border: 1px solid rgba(14, 14, 14, .15);
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	-ms-border-radius: 16px;
	-o-border-radius: 16px;
	width: 25%;
	margin: 50px 0;
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.foundation-item img {
	width: 50px;
}

.foundation-item h3 {
	color: rgb(14, 14, 14, .8);
	font-size: 20;
}

.foundation-item p {
	color: rgb(14, 14, 14, .7);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}